<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <h1 class="text-white">New Holiday</h1>
    </div>
  </div>
</div>

<%= form_for @holiday do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto text-white">
        <%= f.label :title %>
        <%= f.text_field :title, :autofocus => true, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto text-white">
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto text-white">
        <%= f.label :latitude %>
        <%= f.text_field :latitude, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto text-white">
        <%= f.label :longitude %>
        <%= f.text_field :longitude, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto py-2">
        <%= submit_tag "Create Holiday", class: "btn btn-success btn-block" %>
      </div>
    </div>
  </div>
<% end %>
