<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <img class="img-fluid" src="<%= @photo.image_url %>" alt="<%= @photo.holiday.title %>">
          <% @photo.comments.each do |comment| %>
            <b><%= comment.user.name %></b> says:
            <%= comment.message %><br>
          <% end %>
          <%= link_to "Back to #{@photo.holiday.title}", @photo.holiday, :method => :get, class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  </div>
</div>