<h2><%= current_user.id%></h2>
<h2><%= current_user.email%></h2>
<h2><%= current_user.name%></h2>


  <img src="<%= @photo.image_url %>" alt="">
  <% @photo.comments.each do |comment| %>
    <b><%= comment.user.name %></b> says:
    <%= comment.message %><br>
  <% end %>
