<!DOCTYPE html>
<html>
  <head>
    <title>HolidayApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
  <li><%#= #link_to("Sign Up", new_user_path ) %></li>
  <li><%#= #link_to("Sign In", login_path ) %></li>
  <li><%#= #link_to("Log Out", login_path, :method => :delete ) %></li>
</ul>
    <%= yield %>
  </body>
</html>
